<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>ChatGPT - vv ChatBot!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- Currently BROKEN!
Working prototype on meesrutten.me :) -->
<main class="page__main">
    <div class="block--background">
      <div class="chatbot__overview">
        <ul class="chatlist">
          <li class="bot__output bot__output--standard">Hey, I'm ChatGPT!</li>
          <li class="bot__output bot__output--standard">I will guide you!</li>
          <li class="bot__output bot__output--standard">
            <span class="bot__output--second-sentence">You can ask me a bunch of things!</span>
            <ul>
              <li class="input__nested-list">Something <span class="bot__command">about</span> ChatGPT</li>
              <li class="input__nested-list">Maybe I could <span class="bot__command">help</span> (for more instructions)</li>
              <li class="input__nested-list">Type <span class="bot__command">commands</span> for a list of every command</li>
            </ul>
            You can ask anything you want!
          </li>
        </ul>
      </div>
      <div class="chatbox-area">
        <form action="" id="chatform">
            <textarea placeholder="Talk to me!" class="chatbox" name="chatbox" resize: "none" minlength="2"></textarea>
            <input class="submit-button" type="submit" value="send">
        </form>
      </div>
			    <div class="block--background"></div>

</main>
<!-- partial -->
  <script  src="../static/script.js"></script>

</body>
</html>
